:root {
    --sequence-item-background: #eee;
}
body {
    display: grid;
    grid-template: "hint" auto "diagram" 1fr "sequence" auto "found" auto / 1fr;
    height: 100vh;
    margin: 0;
}

ul.number-list {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.used {
    font-style: italic;
}

.possible:not(.used) {
    background: lightgreen;
}

#sequence {
    display: grid;
    grid-template-rows: 1.5em 3em;
    grid-auto-flow: column;
    grid-auto-columns: 5em;
    
    & li {
        border-radius: 50%;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: 1 / 3;
        justify-items: center;
        background: var(--sequence-item-background);
        padding: 0.5em 1em;
        
        & .explanation {
            text-align: center;
            
            & code {
                font-size: 1.3em;
            }
        }
    }
}

#diagram {
    background: black;
    width: 100%;
    height: 100%;
}

.planet {
    cursor: pointer;
    
    --planet-colour: grey;

    & circle {
        stroke: white;
        fill: var(--planet-colour);
    }
    
    &.possible {
        --planet-colour: green;
    }

    &.must-end {
        --planet-colour: blue;
    }

    &:not(.possible) {
        filter: grayscale(1);
    }
}

.jump {
    stroke: white;
    fill: none;
}
