:root {
    --sequence-item-background: #eee;
}

h2 {
    margin: 0;
}

button {
    font-size: 2em;
    padding: 0.2em 0.5em;
}

body {
    margin: 0;
    font-family: sans-serif;
}

main#rules, footer {
    padding: 1em;
}

main#game {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    grid-template: 
        "hint rules" 8em
        "diagram controls" 3em
        "diagram found" 1fr
        / 1fr 20em
        ;
    gap: 1em;
}
#found-sequences {
    align-self: start;
}

@media (max-width: 50em) {
    main#game {
        grid-template: 
            "hint rules" 8em
            "diagram diagram" 1fr
            "controls controls" auto
            "found found" 10em
            / 1fr auto;
        column-gap: 0;
    }

    #found-sequences > ul {
        overflow: auto scroll;
        height: 6em;
    }
}
#hint {grid-area: hint;}
#diagram {grid-area: diagram;}
#controls { grid-area: controls;}
#found-sequences { grid-area: found; }


ul.number-list {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.used {
    font-style: italic;
}

.possible:not(.used) {
    background: lightgreen;
}
            
code {
    font-size: 1.3em;
}

#sequence {
    display: grid;
    grid-template-rows: 1.5em 3em;
    grid-auto-flow: column;
    grid-auto-columns: 5em;
    
    & li {
        border-radius: 50%;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: 1 / 3;
        justify-items: center;
        background: var(--sequence-item-background);
        padding: 0.5em 1em;
        
        & .explanation {
            text-align: center;
        }
    }
}

#diagram {
    background: black;
    width: 100%;
    height: 100%;
}

.planet {
    cursor: pointer;
    
    --planet-colour: grey;

    & circle {
        stroke: white;
        fill: var(--planet-colour);
    }
    
    &.possible {
        --planet-colour: green;
    }

    &.must-end {
        --planet-colour: blue;
    }

    &:not(.possible) {
        filter: grayscale(1);
    }
}

.jump {
    stroke: white;
    fill: none;

    &.invalid {
        stroke-dasharray: 3 3;
        stroke: hsl(0, 90%,60%);
    }
}

#hint {
    padding: 0 1em;
    align-self: end;

    & p {
        margin-bottom: 0;
    }
}

#how-to-play {
    font-size: 1em;
}
